<div>
  <mat-checkbox [(ngModel)]="selectable">Selectable</mat-checkbox>
  <br>
  <mat-checkbox [(ngModel)]="editable">Editable</mat-checkbox>
  <br>
  <mat-checkbox [(ngModel)]="nameFrozenLeft">Name Frozen Left</mat-checkbox>
  <matx-input label="Name Width" [(ngModel)]="nameWidth"></matx-input>
  <mat-checkbox [(ngModel)]="nationalFrozenRight">National Frozen Left</mat-checkbox>
  <matx-input label="Name Width" [(ngModel)]="nationalWidth"></matx-input>
</div>

<matx-table #table [items]="players" style="height: 400px;" [contentStyle]="{'min-width': '800px'}"
            [selectable]="selectable" [editable]="editable">
  <matx-column [frozenLeft]="nameFrozenLeft" [width]="nameWidth">
    <ng-template matxHeader><b>Name</b></ng-template>
    <ng-template matxCell let-it>{{it.name}}</ng-template>
    <ng-template matxEditor let-it>
      <matx-input [(ngModel)]="it.name" name="name" #name="ngModel" required hideRequiredMarker>
        <matx-errors [field]="name"></matx-errors>
      </matx-input>
    </ng-template>
  </matx-column>
  <matx-column field="age" header="Age">
    <ng-template matxEditor let-it>
      <matx-input type="number" [(ngModel)]="it.age" name="age" #age="ngModel" required hideRequiredMarker min="0" max="150"
      style="width: 40px">
        <matx-errors [field]="age"></matx-errors>
      </matx-input>
    </ng-template>
  </matx-column>
  <matx-column field="club" header="Club"></matx-column>
  <matx-column field="national" header="National" [frozenRight]="nationalFrozenRight" [width]="nationalWidth"></matx-column>
  <matx-column frozenRight width="40px" [ngStyle]="{'padding-left': 0, 'padding-right': 0, 'min-width': '40px'}">
    <ng-template matxCell let-row="row" let-form="form">
      <button type="button" mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
      <mat-menu #menu="matMenu">
        <ng-template [ngIf]="!row.editing" [ngIfElse]="editing">
          <button mat-menu-item (click)="table.startEditing(row, form)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
        </ng-template>
        <ng-template #editing>
          <button mat-menu-item (click)="table.submitRow(row, form)">
            <mat-icon>save</mat-icon>
            <span>Save</span>
          </button>
          <button mat-menu-item (click)="table.resetRow(row, form)">
            <mat-icon>cancel</mat-icon>
            <span>Cancel</span>
          </button>
        </ng-template>
      </mat-menu>
    </ng-template>
  </matx-column>

  <ng-template matxDetailRow let-it>
    <div style="padding: 15px; background: lightgray">Name: {{it.name}}</div>
  </ng-template>
</matx-table>
