<matx-input label="Input 0"></matx-input>

<h1>Template Driven Form</h1>
<form #form1="ngForm">
  <matx-input placeholder="Input 2"
              required
              pattern="[a-z]*"
              [(ngModel)]="form1Model.input1"
              #input1="ngModel"
              name="input1">error</matx-input>
  <pre>form1.valid: {{form1.valid}}</pre>
  <pre>input2.valid: {{input1.valid}}</pre>
</form>

<h1>Model-Driven Form</h1>
<form [formGroup]="form2">
  <matx-input placeholder="Input 2"
              required
              pattern="[a-z]*"
              formControlName="input2"
              name="input2">error</matx-input>
  <pre>form1.valid: {{form2.valid}}</pre>
  <pre>input2.valid: {{form2.get('input2').valid}}</pre>
</form>
