mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 300px;
}

.mat-list-item.active {
  background-color: indigo;
  color: white;
}

section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-tab-group {
  height: 100%;

  ::ng-deep > .mat-tab-body-wrapper {
    padding: 15px;
  }
}
