<h1>Outside Forms</h1>
<matx-autocomplete label="Autocomplete 00" [options]="['Alabama', 'Florida']"></matx-autocomplete>
<matx-autocomplete label="Autocomplete 01" [options]="[
    {name: 'Alabama'}, {name: 'Alabamas'},
    {name: 'Florida'}
  ]" displayField="name"></matx-autocomplete>
<matx-autocomplete label="Autocomplete 02" [filterBy]="filterStringObservables"></matx-autocomplete>
<matx-autocomplete label="Autocomplete 03" [filterBy]="filterObjectObservables" displayField="name"></matx-autocomplete>

<h1>Template Driven Form</h1>
<form #form1="ngForm">
  <matx-autocomplete placeholder="Autocomplete Input 1"
                     [filterBy]="filterStringObservables"
                     required
                     name="autocompleteInput1"
                     [(ngModel)]="form1Model.autocompleteInput1"
                     #autocompleteInput1="ngModel">
    <matx-errors [field]="autocompleteInput1"></matx-errors>
  </matx-autocomplete>
  <pre>form1.valid: {{form1.valid | json}}</pre>
  <pre>autocompleteInput1.valid: {{autocompleteInput1.valid | json}}</pre>
  <pre>autocompleteInput1.value: {{autocompleteInput1.value | json}}</pre>
</form>

<h1>Model-Driven Form</h1>
<form [formGroup]="form2">
  <matx-autocomplete placeholder="Autocomplete Input 2"
                     [filterBy]="filterStringObservables"
                     required
                     formControlName="autocompleteInput2">
    <matx-errors [field]="form2.get('autocompleteInput2')">s</matx-errors>
  </matx-autocomplete>
  <pre>form2.valid: {{form2.valid}}</pre>
  <pre>autocompleteInput2.valid: {{form2.get('autocompleteInput2').valid}}</pre>
  <pre>autocompleteInput2.dirty: {{form2.get('autocompleteInput2').dirty}}</pre>
  <pre>autocompleteInput2.touched: {{form2.get('autocompleteInput2').touched}}</pre>
  <pre>autocompleteInput2.value: {{form2.get('autocompleteInput2').value | json}}</pre>
</form>
