/* You can add global styles to this file, and also import other style files */
@import "~highlight.js/styles/github.css";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Workaround for https://github.com/angular/material2/issues/4580.
mat-form-field .mat-form-field {
  &-underline {
    position: static;
    bottom: auto;
  }
  &-subscript-wrapper {
    position: static;
  }
}

